@charset "utf-8";

a{color: #777;}
a, a:active, a:hover {text-decoration:none}
a{outline: none;}
li{list-style: none;}
ul, p, h6{padding: 0;margin: 0;}
.no-padding-tb{
    padding-top: 0;
    padding-bottom: 0;
}
.panel{
    border-radius: 0;
    background-color: #fff;
}
.panel-heading{padding: 10px;}
.panel-title{font-size: 14px;}
.btn{
    font-size: 12px;
    border: none;
    font-weight: normal;
    padding: 3px 10px 0px;
}
.table{
    background-color: #fff;
    box-shadow: none;
}

.te-align-left{text-align: left!important;}

/*********** zj-icon 20170523 ***********/
/****************************************/
.zj-icon{
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    margin-right: 5px;
    background-image: url(../images/zj-icon.png);
}
.zj-cpu{background-position: -49px 277px;}
.zj-memory{background-position: -83px 277px;}
.zj-storage{background-position: -153px 277px;}
.zj-gj-setting{background-position: -149px 317px;}

/********** leftpanel 20170523 **********/
/****************************************/
#sidebar-menu {
    padding: 5px 15px;
    overflow-x: hidden;
    outline: none;
}
#sidebar-menu li {margin: 0 0 5px;}
.third_ul li a, .second_ul li a {
    color: #94989d;
    font-size: 13px!important;
    display: block;
    padding: 5px 0 5px 10px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.nav-bracket .second_ul li .fa {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 5px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}
#sidebar-menu li>a {
    font-size: 14px;
    color: #69737A;
    display: block;
    padding: 7px 10px;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#sidebar-menu li.current-page > a {
    background: #1caf9a; /*#e4e9f0;background: #fff;*/
    color: #fff;
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}
#sidebar-menu li.active > a{
    background-color: #fff;
    background-image: url(../images/minus.png);
    color: #1d2939;
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}
#sidebar-menu li ul {
    display: none;
    margin: 0;
}
.second_ul li {margin-left: 15px !important;}

/********** index 20170523 **********/
/************************************/
.headerbar-tip{
    font-size: 13px;
    color: #333;
}
.panel .zj-panel-heading{border-bottom: 1px solid #eeeeee;}
.panel .zj-panel-title{
    text-indent: 8px;
    line-height: 20px;
}
.zj-panel-heading-2{
    margin: 0 26px; 
    padding: 16px 0;
}
.zj-panel-title-2{
    color: #333;
    padding-left: 12px;
    font-weight: normal;
    border-left: 2px solid #88B7E0;
}
.zj-user-body .col-sm-2, .zj-user-body .col-sm-4, .zj-user-body .col-sm-10{padding:15px 0;}
.zj-avater{width: 80px;}

.zj-dk-button button{
    color: #333;
    float: right;
    height: 19px; 
    line-height: 15px;
    font-size: 12px;
    background: #f9fafc;
    border: 1px solid #eaedf1;
    margin-left: 8px;
}
.zj-table .table{box-shadow: none;}

.zj-index-user .item{
    height: 40px;
    line-height: 40px;
}
.zj-index-user li:last-child{border-bottom: none;}
.zj-index-user .user-info{
    float: left;
    font-size: 12px;
    padding-right:20px;
}
.zj-index-user .user-info span{color: #428bca;}
.zj-index-user .item button{
    height: 30px;
    line-height: 26px;
}

.zj-index-deploy div{
    float: left;
    font-size: 12px;
    padding: 15px 10px 10px;
}
.deploy-info-mini{color: #428bca;}

.list-title .list-button{
    color: #fff;
    float: right;
    font-size: 12px;
    padding: 0 10px!important;
    background-color: #5bc0de;
}
.list-title .list-button:hover{border: 1px solid #5bc0de;}

/*配额部分*/
.zj-s-pe-li{
    border-left: 2px solid #eee;
    padding-left: 8px;
}
.zj-s-pe-li span{
    color: #333;
    font-weight: 700;
    padding-left: 6px;
}
.zj-s-pe-li p{
    color: #333;
    font-size: 13px;
}
.zj-s-pe .active{border-left: 2px solid #0c9}

/*工单部分*/
.zj-s-gd .list{padding: 5px 0;}
.zj-s-gd .list .list-title{
    padding-left:5px;
    font-size: 13px;
    font-weight: 600;
}
.zj-s-gd .list ul>li{
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    color: #333;
    position: relative;
    background: #f9fafc;
    margin: 8px;
    padding-left: 15px;
    display: block;
    text-decoration: none;
    -o-transition: all 0.12s, 0.12s;
    -moz-transition: all 0.12s, 0.12s;
    -webkit-transition: all 0.12s, 0.12s;
} 
.zj-s-gd .btn-info{
    float: right;
    margin: 7px 10px;
}

/*服务概览*/
.zj-s-fw .zj-s-fw-ul li{
    width: 33.33%;
    float: left;
    padding: 10px 20px;
    border-right: 1px #eee solid;
    border-bottom: 1px #eee solid;
}
.zj-s-fw .zj-s-fw-ul .border-no-right{border-right:1px solid #fff;}
.zj-s-fw .zj-s-fw-ul .border-no-bottom, .zj-s-fw .zj-s-fw-ul li:last-child{border-bottom:1px solid #fff;}
.zj-s-fw .zj-s-fw-ul li img{
    width: 55px;
    height: 55px;
    display: inline-block;
    float: left;
}
.zj-s-fw-detail{
    display: inline-block;
    padding-left: 20px;
    padding-top: 3px;
}
.zj-s-fw-detail h6{
    color: #333;
    font-size: 13px;
    font-weight: 700;
}
.zj-s-fw-detail p{
    color: #c7254e;
    font-size: 17px;
    margin-top: 12px;
}
.zj-s-fw-detail p span{padding-right: 10px;}

/********最近操作  2017-5-25  MC*********/
/****************************************/
.zj-panel-title-fl{ float: left;}
.zj-panel-see{
    font-size: 13px;
    color: #169BD5;
    margin-left: 15px;
}
.zj-s-gd .list-operation ul>li{
    height: 76px;
    line-height: 20px;
    position: relative;
    padding: 13px;
    background: #eee;
}
.zj-s-gd .list-operation ul li div{
    border: 1px #00CC99 solid;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    padding: 2px;
    background-color: #00CC99;
    background-clip:content-box;
    position: absolute;
    left: -35px;
    top: 0;
}
.zj-s-gd .list-operation ul li span{color: #00CC99;}
.list-operation{margin-left: 32px;}
.list-operation a:hover{color: #333;}
.list-operation a{color: #333;}
.list-operation-sx{
    border-left: 1px #EAEDF1 solid;
    padding: 24px 0;
    position: relative;
    left: 5px;
    top: 34px;
}

/********** 项目信息 20170523  Gzm**********/
/************************************/
.zj-panel-icon{
    width: 19px;
    height: 19px;
    display: block;
    float: left;
    background-image: url(../images/zj-icon.png);
}
.zj-icon-client{ background-position: -84px 452px;}
.zj-icon-quota{ background-position: -48px 452px;}
.zj-icon-project{ background-position: -12px 452px;}
.zj-icon-overview{ background-position: -118px 452px;}
.panel .table-responsive{ padding: 5px;}
.panel>.table-bordered, .panel>.table-responsive>.table-bordered{ 
    border: 1px solid #eee;
    font-size: 13px;
}
.table thead > tr > th{ 
    text-align: center;
    padding: 8px;
}/* 
.table tbody > tr > td{
    text-align: center;
    padding: 8px;
} */
.zj-pance-th thead > tr > th{
    color:#ff0000;
}
.zj-s-fw .zj-s-fw-ul li i{
    width: 55px;
    height: 55px;
    display: inline-block;
    float: left;
    background-image: url(../images/zj-icon.png);
}
.zj-s-fw-host{ background-position: -211px 101px;}
.zj-s-fw-disk{ background-position: -9px 101px;}
.zj-s-fw-band{ background-position: -144px 101px;}
.zj-s-fw-vpn{ background-position: -414px 176px;}
.zj-s-fw-scan{ background-position: -347px 176px;}
.zj-s-fw-web{ background-position: -280px 176px;}
.zj-s-fw-ddos{ background-position: -143px 176px;}
.zj-s-fw-backup{ background-position: -76px 101px}
.zj-s-fw-netdisc{ background-position: -8px 176px;}
.zj-s-fw-address{ background-position: -76px 176px;}
.zj-s-fw-fort{ background-position: -211px 176px;}

/***项目信息-项目管理员  2017-5-25  MC****/
/****************************************/

.panel .table-responsive-padding{padding: 30px 20px 50px;}
.zj-pance-th thead > tr > th{font-weight: bold;}