@charset "utf-8";

/********** list 20170525 SeinaLiu **********/
/********************************************/
.dataTables_paginate a.paginate_button, .dataTables_paginate a.paginate_active{
    font-weight: normal;
    font-size: 12px;
}

.zj-list-body{
    padding-left: 25px;
    padding-right: 25px;
}
.zj-list-body .btn{
    padding: 6px 10px;
    font-size: 12px;
}
.zj-list-body .btn-sm{padding:4px 14px!important;}

.zj-table-responsive{margin-top:15px;}
.zj-table-responsive .table{border:1px solid #eee;}
.zj-table-responsive .table thead > tr > th, .zj-table-responsive .table tfoot > tr > td{
    background-color: #F9FAFC;
    padding: 8px;
    font-size: 13px;
    color: #555;
    font-weight: 600;
    border-right:none;
    border-left:none;
}
.panel .table-responsive{padding: 0;}
.zj-table-responsive .table tbody > tr > td{
    color: #666;
    font-size: 12px;
    padding: 15px 0;
    border-right:none;
    border-left:none;
}
.zj-table-responsive .table>thead>tr>th{border-bottom: none;}
.zj-table-responsive .table{
    box-shadow: none;
    background-color: #fff;
}
.zj-list-body .dataTables_info{
    color: #888;
    font-size: 12px;
    font-weight:normal;
    padding: 0 16px;
    clear: both;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
}
.zj-list-body .paging_full_numbers{line-height: 36px;}
.zj-list-body .form-control{
    padding: 6px;
    font-size: 12px;
}
.zj-list-body .form-control:focus{box-shadow: none;}
.zj-list-body .form-horizontal .control-label{padding-top: 4px;}
.zj-list-body .col-sm-1 .control-label{font-size: 13px;}

.zj-header-info {
    background-color: #F6F8F9;
    padding: 10px 10px;
    color: #333;
    font-size: 12px;
    margin-bottom: 20px;
}
.zj-message-td div{margin: auto;}
.gritter-item p{color: #fff;}

/********** 增值服务  20170526 GGGZhImIn **********/
/********************************************/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{ vertical-align:baseline;}
.zj-v-add{
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.zj-v-add li{
    width: 22%;
    background-color: #f3f3f3;
    padding: 8px 10px;
    float: left;
    margin: 10px 19px;
    line-height: 37px;
}
.zj-v-heading{
    float: left;
    width: 80%;
    padding-left:10px;
}
.zj-v-add li.zj-v-left{ margin-left:0;}
.zj-v-add li.zj-v-right{ margin-right:0;}
.zj-v-add li.zj-v-top{ margin-top:0;}
.zj-v-title{
    cursor: pointer;
    text-indent: 10px;
    margin: 0;
    font-size: 14px;
    border-right: 1px solid #aaa;
    color: #54b2ee;
}
.zj-v-add li a{
    width: 20%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.zj-v-icon{
    width: 27px;
    height: 30px;
    display: block;
    float: left;
    background-image: url(../images/zj-icon.png);
}
.control-label.control-center{ text-align: center;}
.control-label.control-tage span{ color: #169BD5;}
.zj-v-web{ background-position: -219px 250px;}
.zj-v-disk{ background-position: -114px 250px;}
.zj-v-cloud{ background-position: -43px 250px;}
.zj-v-ddos{ background-position: -323px 250px;}
.zj-v-scan{ background-position: -149px 250px;}
.zj-v-fort{ background-position: -253px 250px;}
.zj-v-disabled{ background-position: -45px 351px;}

/********** 云服务目录子类别  20170526 GGGZhImIn **********/
/********************************************/
.zj-list-body .zj-table-option{
    padding: 5px 7px;
    font-size: 13px;
}

/********** 模板  20170526 GGGZhImIn **********/
/********************************************/
.form-group li{float: left;}
.form-group li:last-child{margin-left: 15px;}
.form-group li.zj-m-th{
    width: 10%;
    padding: 7px;
    color: #4a535e;
    font-size: 14px;
    text-align: right;
}
.form-group li.zj-m-verson{width: 7%;}

/********** 带宽网络  20170526 GGGZhImIn **********/
/********************************************/
.zj-d-action a.btn {
    padding: 0;
}

.zj-d-apply {
    background-position: -10px 317px;
}
.zj-d-modify{
    background-position: -289px 317px;
}
.zj-d-delete_all{
    background-position: -115px 351px;
}
.zj-d-chongzhi{
    background-position: -220px 350px;
}

.zj-d-user{
    background-position: -115px 317px;
}

.zj-d-delete {
    background-position: -252px 316px;
}

.zj-d-add {
    background-position: -183px 316px;
}
.zj-d-synchronization {
    background-position: -218px 352px;
}

.zj-d-more {
    background-position: -219px 316px;
}

.zj-d-ip {
    padding: 20px 0;
    font-size: 15px;
}

.zj-d-link {
    background-position: -43px 316px;
}

/********** 私有网络  20170526 GGGZhImIn **********/
/********************************************/
.zj-s-setting{ background-position: -430px 352px;}
.zj-s-boot{ background-position: -9px 351px;}
.zj-s-reboot{ background-position: -79px 351px;}
.zj-s-shut{ background-position: -44px 351px;}
.zj-s-delete{ background-position: -324px 351px;}
.zj-s-login{ background-position: -255px 352px;}
.zj-s-eyes{ background-position: -150px 459px;}
/********** 工单中心  20170526 GGGZhImIn **********/
/********************************************/
.zj-g-submit{ float: left;}

/********** 工单统计 20170526 GGGZhImIn **********/
/********************************************/
.form-group li.zj-g-th{
    width: 8%;
    padding: 7px;
    color: #4a535e;
    font-size: 14px;
    text-align: right;
}

/********** 工单统计 20170526 GGGZhImIn **********/
/********************************************/
.form-group li.zj-q-th{
    padding: 6px;
    color: #4a535e;
    font-size: 14px;
    text-align: right;
}

/********** 企业消费概览 20170526 GGGZhImIn **********/
/********************************************/
.zj-q-report a{
    padding: 7px;
    color: #5499ee;
    font-size: 12px;
    text-align: right;
    display: block;
}
.zj-table-responsive .table tbody > tr > td.zj-q-money{
    color: #ff9900;
}
.zj-custom-total h4{
    font-size: 13px;
    border-bottom: 1px solid #eee;
}
.zj-custom-list{
    color: #4a535e;
    font-size: 12px;
    margin-top: 20px;
}

/********** VPN服务 20170527 GGGZhImIn **********/
/********************************************/
.zj-app-vpn{ background-position: -430px 352px;}
.zj-down-vpn{ background-position: -359px 352px;}
.zj-down{
    float: right;
    /*background-color: #1ebe9d;*/
}
.zj-vpn-stop{ background-position: -395px 352px;}
.control-label.host-center span{
    color: #169BD5;
}
.zj-mbps{
    /*text-align: center;*/
    font-size: 12px;
    margin: 20px 70px 0;
    padding: 10px;
    background-color: #F9FAFC;
}
.control-vpn-radio li{
    width: 33.33%;
}
.control-vpn-radio li:last-child{margin: 0;}

/********** 项目管理 20170527 GGGZhImIn **********/
/********************************************/
.zj-x-new{ background-position: -115px 317px;}
.zj-x-modify{ background-position: -290px 317px;}
.zj-x-project{ background-position: -9px 317px;}
.zj-progect{ margin-right: 15px;}
.table-action a.btn-success{color:#fff;}
.zj-x-Details{ background-position: -360px 352px;}
.zj-project-cpu .form-control{
    width: 100px;
    display: inline-block;
}
.zj-project-used{background-color: #F9FAFC;}
.panel-body .form-group .control-label.zj-used{margin: 0 15px;}
.form-group.zj-project-cpu .control-label.zj-project-quota{margin-left: 10px;}
.form-group.zj-project-cpu .control-label.zj-project-quota span{ color:#ff9900;}
.form-group .control-label.zj-quota-details{
    background-color: #F9FAFC;
    padding: 2px 10px!important;
}
.zj-project-pe{
    padding:3px 0 3px 0;
    background-color:#F9FAFC;
    margin-right:10px;
}

/********** 任务中心 20170527 GGGZhImIn **********/
/********************************************/
.zj-refresh{ background-position: -220px 351px;}

/********** 部门管理 20170527 GGGZhImIn **********/
/********************************************/
.zj-d-write{ background-position: -324px 316px;}

/********** 用户管理 20170527 GGGZhImIn **********/
/********************************************/
.zj-d-return{ background-position: -358px 316px;}
.zj-add{ float: right;}
.zj-add-avater{ width: 150px;}
.zj-avater-center{text-align: center;}

/********** 角色管理 20170527 GGGZhImIn **********/
/********************************************/
.zj-Character{ background-position: -325px 352px;}
.zj-d-red{
    /*background-color: #e84c3c;*/
    margin-left: 10px;
}
.zj-null{  background-position: -482px 320px;}

/********** 流程设置 20170527 GGGZhImIn **********/
/********************************************/
.zj-list-body .form-horizontal .form-group .zj-process{
    text-align: center;
    padding: 85px 0;
}
.zj-lc-content{font-size: 12px;}
.zj-member{
    width: 50px;
    height: 50px;
    display: block;
    background-image: url(../images/zj-icon.png);
}
.zj-member-project{ background-position: -282px 101px;}
.zj-member-strator{ background-position: -330px 101px;}
.zj-member-platform{ background-position: -338px 101px;}
.zj-member-padding{
    padding: 40px 40px;
}
.table-action.zj-d-action .fa-long-arrow-right{
    font-size: 35px;
    color: #ccc;
    padding: 0 20px;
}
.form-group .zj-member-padding .control-label{text-align: center;}
.zj-dashed{border: 1px dashed #797979;}
.zj-process-save{
    text-align: center;
    padding-bottom: 15px;
}

/********** 告警规则 20170531 GGGZhImIn **********/
/********************************************/
.zj-d-abacus{ background-position: -395px 316px;}
.panel-body .form-group .control-label{
    /*padding: 5px 0;*/
    margin: 0;
    font-size: 12px;
}
.panel-body .form-group .form-control{ padding: 6px 10px;}
.panel-default .panel-body .form-group{ margin-bottom: 6px;}
.panel-body .form-group .control-label.control-tage{ text-align: left;}
.panel-body .form-group .control-radio{    padding: 4px 20px;}
.panel-body .form-group textarea{
    width: 100%;
    resize: none;
    padding: 5px 10px;
}
.panel-default .panel-body .form-group.control-bottom,.form-group.control-bottom .mb15{ margin-bottom: 0;}
.control-center{text-align: center;}
.panel-default .panel-body .form-group .zj-rule-one{
    text-align: left;
    color: #1e1e1e;
    font-size: 13px;
}
.panel-default .panel-body .form-group .zj-more{
    text-align: center;
    color: #1e1e1e;
}
.panel-default .panel-body .form-group .zj-rule-cpu{ color: #1e1e1e;}
.panel-footer .control-center .zj-btn-button{
    padding: 4px 30px;
    border: 1px solid #eee;
    background-color: #fff;
    color: #777;
}

/********** 操作日志 20170531 GGGZhImIn **********/
/********************************************/
.zj-q-opera{
    width:13%;
    margin-right: 7px;
}

/********** 监控历史 20170607 SeinaLiu **********/
/********************************************/
.zj-monitor-detail{
    padding: 10px;
    background-color: #F9FAFC;
}
.zj-monitor-detail .title{
    color: #666;
    font-size: 13px;
    margin: 0 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}


/********** 个人信息 20170601 GGGZhImIn **********/
/********************************************/
.zj-information{
    padding: 93px;
    text-align: center;
}
.zj-personal{ width: 135px;}
.zj-modify-avatar{
    padding: 15px;
    font-size: 12px;
}
.zj-modify-avatar a{color: #009dda;}
.zj-basic-infor{ padding: 50px 0 50px 0;}
.zj-basic-left{
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-align: left;
    padding: 0;
}
.zj-basic-right{
    font-size: 12px;
    color: #009dda;
    text-align: right;
    margin-bottom:0!important;
    padding: 5px 0;
}
.zj-basic-row{ border-bottom: 1px solid #f2f2f2;}
.zj-personal-row{ padding: 15px;}
.zj-list-body .zj-basic-infor .zj-basic-name{
    text-align: right;
    font-size: 12px;
    padding: 5px 0;
    color: #999;
    margin-bottom:0!important;
}
.zj-list-body .zj-basic-infor .zj-basic-btn{
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    font-size: 12px;
}
.zj-personal{
    width: 145px;
    height: 145px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 139px;
}
/*主机网络变更*/
/********************************************/
.zj-network-changes{
    border: 1px dashed #eee;
    padding: 20px;
}
.changes-label{
    margin:0!important;
    font-size: 12px;
}
.zj-newwork-border{
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.form-group .control-tage.control-add{
    padding: 0;
    margin: 0!important;
}
.control-primary .btn.zj-create-next-btn{
    padding: 6px 25px;
    font-size: 13px;
}
.control-one{
    position: relative;
    top: 160px;
}
.control-two{
    position: relative;
    top: 65px;
}
.control-one a,.control-two a{
    color: #009dda;
    font-size: 12px;
}
.control-radio .control-radio-label label{
    margin: 0;
    font-size: 12px;
}
.zj-panel-heading-2 .zj-panel-title-2 a{    color: #009dda;}
/******检索条件  通用 Seina Liu  20170602******/
/********************************************/
.zj-search .form-control, .zj-search .form-group{display: inline-block;}
.zj-search .form-group{border-top:none;}


.form-group .control-label.carried-out{
    padding: 8px 10px;
    background-color: #eef5f8;
}

/********帮助页面  Seina Liu  20170608********/
/********************************************/
.zj-mainbody-left{
    font-size: 14px;
    color: #666;
    padding: 0;
}
.zj-mainbody-left div{
    padding: 10px 0 10px 22px;
    background-color: #F9FAFC;
}
.zj-mainbody-left-one{padding: 10px 0 10px 22px;}
.zj-mainbody-left .active{background-color: #ECF0F4;}

.zj-mainbody-right{padding: 0;}
.zj-mainbody-right ul{
    padding: 0;
    padding-bottom: 28px;
    margin-top: 13px;
    margin-left: 18px;
}
.zj-mainbody-right ul li{
    list-style: disc;
    padding: 4px;
}
.zj-mainbody-right ul li a{
    color: #54B2EE;
    font-size: 13px;
}
.zj-mainbody-right div{
    font-size: 13px;
    color: #666;
}
.zj-mainbody-right div a{color: #54B2EE;}
.zj-mainbody-right div span{padding: 0 8px;}

/*********帮助详细  Seina Liu  20170608********/
/********************************************/
.mainbody-right-text .title{
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.mainbody-right-text .time{
    font-size: 12px;
    color: #aaa;
    text-align: center;
}
/*****************覆盖掉列表的外边框0710***************************/
.fixed-table-container {
    position: relative;
    clear: both;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.fixed-table-container tbody tr:first-child td{
    border-top:1px solid #ddd;
}

.fixed-table-container thead th .th-inner {
    padding:3px;
}

/*0711 将1em改为10px  */
.row form{
    margin-bottom:10px !important;
}

/*下拉框样式 */
.select-o {
    border-color: #999;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: 3px 3px 0 rgba(12, 12, 12, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(12, 12, 12, 0.05);
    box-shadow: 3px 3px 0 rgba(12, 12, 12, 0.05);
    display: block;
    width: 100%;
    height: 31px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 31px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
}