@charset "utf-8";
.signinpanel{
    margin: 0% auto 0 auto!important;
}
.zj-l-login{ 
    text-align: center;
    color: #fff;
}
.zj-i-one{
    color: #009DDA;
    position: absolute;
    top: 43px;
    right: 50px;
}
.zj-i-two{
    color: #009DDA;
    position: absolute;
    top: 106px;
    right: 50px;
}
.signin{
    background-image: url(../images/zj-login-bg.png)!important;
    background-position: center!important;
    background-repeat: repeat-y!important;
}
.zj-login form{
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
.zj-login .form-control{
    margin: 0 0 25px 0;
    border-radius: 8px;
}
.zj-login form .btn-success{
    background-color: #009dda;
    border: none;
}
.zj-login form .zj-l-box{    
    float: left;
    margin: 3px 0 0;
}
.zj-login form p{
    float: left;
    padding-left: 5px;
    color: #333;
    margin-bottom: 25px;
}
.zj-l-login .zj-l-copy{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: #333;
}

.zj-login-code{
    width: 50%;
    float: left;
    margin-bottom: 25px;
}
.zj-code{
    width: 50%;
    float: left;
}
.zj-l-img{
    width: 55%;
    float: left;
    margin: 0 10%;
}

.zj-login-code a{
    float: left;
}