@charset "utf-8";

a{color: #777;}
a, a:active, a:hover {text-decoration:none}
a{outline: none;}
li{list-style: none;}
ul, p, h6,div,li,h1,h2,h3,h4,h5,input{padding: 0;margin: 0;}


/******帮助QA  2017-5-27  MC*******/
/****************************************/
  /*header start*/

.wrap{	
	width: 100%;
	padding: 20px 20px 70px 20px;
	background: #fff;
}
.zj-header-line{
	border-bottom: 1px solid #eee;
	height: 13px;
}
.zj-header-title{
	font-size: 14px;
	color: #333;
	border-left: 2px solid #88B7E0;
	text-indent: 14px;
}

  /*header end*/
  /*manbody start*/
.zj-mainbody-left{
	font-size: 14px;
	color: #666;
	padding: 0;
}
.zj-mainbody-left div{background-color: #F9FAFC;}
.zj-mainbody-left-one{
	padding: 10px 106px 10px 22px;
	margin-top: 20px;
}
.zj-mainbody-left-two{padding: 10px 106px 10px 22px;}
.zj-mainbody-left div:hover{background-color: #ECF0F4;}
.zj-mainbody-right{
	padding: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 28px;
}
.zj-mainbody-right div{
	font-size: 13px;
	color: #666;
	margin-top: 21px;
}
.zj-mainbody-right div a{color: #54B2EE;}
.zj-mainbody-right div span{padding: 0 8px;}
.zj-mainbody-right ul li a{	color: #54B2EE;}
.zj-mainbody-right ul li{
	list-style: disc;
	margin-top: 7px;
}
.zj-mainbody-right ul{
	margin-top: 25px;
	margin-left: 30px;
}

  /*manbody end*/

  /*footer start*/
.paging_full_numbers {margin-top: 24px;}
.dataTables_info{padding-top: 10px;}

  /*footer  end*/
  /**********帮助QA  end***********/

  /******帮助页面详细  2017-5-27  MC*******/
  /****************************************/
.mainbody-line-no{border:none;}
.mainbody-right-text{
	border-top: 1px solid #eee;
	padding-right: 45px;
}
.mainbody-right-text h2{
	font-size: 20px;
	color: #333;
	text-align: center;
	margin-top: 34px;
}
.mainbody-right-text h3{
	font-size: 12px;
	color: #aaa;
	text-align: center;
	margin-top: 20px;
}
.mainbody-right-text div{
	font-size: 14px;
	color: #666;
	margin-top: 50px;
	word-break:break-all; 
}
/******帮助页面详细  end*******/

  /******个人信息编辑  2017-5-27  MC*******/
  /****************************************/
.personal-mainbody-list{padding: 0;}
.personal-name,.personal-form{padding: 0;}
.personal-name{
	text-indent: 20px;
	height: 26px;
	line-height: 26px;
	color: #999;
	font-size: 12px;
}
.personal-mainbody-xx{margin-top: 45px;}
.personal-mainbody-xx a{
	color: #009DDA;
	font-size:12px;
}
.personal-mainbody-list{
	border-bottom: 1px solid #F2F2F2;
	margin-top: 8px;
	padding-bottom: 6px;
}
.personal-mainbody-list input{
	width: 200px;
	height: 26px;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-indent: 3px;
	font-size: 12px;
	color: #333;
	background-color: #F2F2F2;
}
.personal{
	font-size: 13px;
	font-weight: bold;
	color: #333;
	margin-top: 25px;
}
.personal-bz{
	position: relative;
	top: 33px;
}
.personal-mm{margin-top: 9px;}

   /*还有头像没加*/
   
  /******个人信息编辑  end*******/
