@charset "utf-8";

/********** modal 20170525 SeinaLiu ***********/
/**********************************************/
.panel{box-shadow: none;}
/*模态框部分*/
.modal-header{
    padding: 10px;
    background-color: #1D2939;
}
.modal-title{
    color: #fff;
    font-size: 15px;
}
.modal-header .close{
    margin-top: -2px;
}
.modal-header .close span{
    color:#fff;
    text-shadow: none;
}

