
.example {
    position: relative;
    padding: 20px;
    margin: 0 0 15px;
    border: 1px solid #ddd;
    border-style: solid;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

::selection {
    text-shadow: none;
    background: #b3d4fc;
}
 #iconsExample ul {
     padding: 0;
 }

#iconsExample li {
    cursor: pointer;
    float: left;
    width: 150px;
    line-height: 25px;
    list-style: none;
    padding: 2px 10px;
    white-space: nowrap;
    transition: all .3s;
}

#iconsExample li a {
    color: #333
}

#iconsExample li a:hover {
    text-decoration: none
}

#iconsExample li a>i {
    display: inline-block;
    width: 20px
}

#iconsExample li:hover {
    background-color: #d5f1d7;
    transform: scale(1.2);
}

.table-icons-example td {
    vertical-align: middle;
}

.table-icons-example td pre {
    margin-bottom: 0;
}
