@charset "utf-8";

/********** list 20170525 SeinaLiu **********/
/********************************************/
.dataTables_paginate a.paginate_button, .dataTables_paginate a.paginate_active{
    font-weight: normal;
    font-size: 12px;
}

.zj-list-body{
    padding-left: 25px;
    padding-right: 25px;
}
.zj-list-body .btn{
    padding: 6px 10px;
    font-size: 12px;
}
.zj-list-body .btn-sm{padding:4px 14px!important;}

/*.zj-table-responsive{margin-top:15px;}*/
.zj-table-responsive .table{border:1px solid #eee;}
.zj-table-responsive .table thead > tr > th, .zj-table-responsive .table tfoot > tr > td{
    background-color: #F9FAFC;
    padding: 8px;
    font-size: 13px;
    color: #555;
    font-weight: 600;
}
.panel .table-responsive{padding: 0;}
.zj-table-responsive .table tbody > tr > td{
    color: #666;
    font-size: 12px;
    padding: 15px 0;
}
.zj-table-responsive .table>thead>tr>th{border-bottom: none;}
.zj-table-responsive .table{
    box-shadow: none;
    background-color: #fff;
}
.zj-list-body .dataTables_info{
    color: #888;
    font-size: 12px;
    font-weight:normal;
    padding: 0 16px; 
    clear: both;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
}
.zj-list-body .paging_full_numbers{line-height: 36px;}
.zj-list-body .form-control{
    padding: 6px;
    font-size: 12px;
}
.zj-list-body .form-control:focus{box-shadow: none;}
.zj-list-body .form-horizontal .control-label{padding-top: 4px;}
.zj-list-body .col-sm-1 .control-label{font-size: 13px;}

.zj-header-info {
    background-color: #F6F8F9;
    padding: 10px 10px;
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
}
.zj-darker{color: #333;}
.zj-message-td div{margin: auto;}
.gritter-item p{color: #fff;}

/******检索条件  通用 Seina Liu  20170602******/
/********************************************/
.zj-search .form-control, .zj-search .form-group{display: inline-block;}
.zj-search .form-group{border-top:none;}

.form-group .control-label.carried-out{
    padding: 8px 10px;
    background-color: #eef5f8;
}

/*******tab切换效果 Seina Liu  20170602*******/
/********************************************/
.nav {
  padding-left: 0;
  list-style: none;
}
.nav:before, .nav:after {
  display: table;
  content: " ";
}
.nav:after {clear: both;}

.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav-tabs{
    background-color: transparent;
    border-color: #ddd;
    border-bottom: 1px solid #dddddd;
}
.nav-tabs>li{
    margin-left: -1px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 1;
}
.nav-tabs>li.active{
    border-top: 0px;
    z-index: 3;
    margin-top:-1px;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus{
    font-size: 13px;
    border-radius: 0;
    color: #666;
    border-left: 0px;
    border-right: 0px;
    margin-right: 0px;
    padding: 8px 16px;
    background: #FBFAF8;
    border-bottom: 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-top: 2px solid #00a2ca;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #FFF;
    color: #333;
}










/********** 增值服务  20170526 GGGZhImIn **********/
/********************************************/
/*.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{ vertical-align:baseline;}*/


/********** 告警规则 20170531 GGGZhImIn **********/
/********************************************/
.panel-body .form-group .control-label{
    padding: 5px 0;
    margin: 0;
    font-size: 12px;
}
.panel-body .form-group .form-control{ padding: 5px 10px;}
.panel-default .panel-body .form-group{ margin-bottom: 6px;}
.panel-body .form-group .control-label.control-tage{ text-align: left;}
.panel-body .form-group .control-radio{    padding: 4px 20px;}
.panel-body .form-group textarea{  
    width: 100%;
    resize: none;
    padding: 5px 10px;
}
.panel-default .panel-body .form-group.control-bottom,.form-group.control-bottom .mb15{ margin-bottom: 0;}
.control-center{text-align: center;}

/********* wangyifan  201706013********/
/********************************************/
.zj-customer-select{
    width:80px;
    margin: auto;
}
/********* 部门管理  wangyifan  201706013********/
/********************************************/
.zj-from-box{
    padding:0!important;
    margin-bottom:0!important;
}