.table thead > tr > th{
    text-align: left;
    padding: 0;
    margin: 0;
}
.table tbody > tr > td{
    text-align: left;
    margin-left: 10px;
}
.zj-table-responsive .table thead > tr > th{
    background-color: #F9FAFC;
    padding: 10px 4px;
    font-size: 13px;
    color: #555;
    font-weight: 600;
}

.zj-table-responsive .table tbody > tr > td {
    color: #666;
    font-size: 12px;
    padding: 15px 0;
    padding-left: 4px;
}
.pre-scrollable {
    max-height: 620px;
    overflow-y: scroll
}